/* Basic Css */
* {
  margin: 0;
  padding: 0;
}
main {
  margin: 0 140px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
}
p,
h1,
button,
input {
  font-family: "Inter";
}
.btn {
  transition: 0.3s;
  font-size: 18px;
}
.btn:hover {
  background-color: #fff;
  color: #f00;
}

/* Banner area Css */
.banner-area {
  margin-bottom: 120px;
  margin-top: 50px;
}
.banner-content {
  background-image: linear-gradient(180deg, #070211 0%, #07021100 100%),
    url("./resources/Banner\ Image.png");
  min-height: 600px;
  min-width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  color: #ffff;
  height: 246px;
  width: 632px;
  text-align: center;
}
.banner-text p {
  font-size: 32px;
  font-weight: 400;
}
.banner-text h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* Banner Area CSS Ends */

/* Category Area Css Starts */
.category-area {
  margin-bottom: 120px;
}
.category-content {
  text-align: center;
}
.category-content h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.category-content p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.category-content h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 55px;
  text-transform: uppercase;
}
.category-content img {
  width: auto;
}
/* Category area Css Ends */

/* Party area css starts */
.party-area {
  margin-bottom: 120px;
}
.party-content {
  background-image: linear-gradient(90deg, #070211 0%, #07021100 100%),
    url("./resources/Vectorrr.png");
  min-height: 600px;
  min-width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.party-text {
  padding-left: 140px;
}
.party-image img {
  padding-right: 140px;
}
.party-text h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.party-text p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.party-text button {
  padding: 10px 20px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #f00;
  border: 0;
  cursor: pointer;
}
/* Party Area css Ends */

/* offer area css starts */
.offer-area {
  margin-bottom: 120px;
}
.offer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.offer-left h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-left h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.offer-left p {
  color: #07021199;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer-middle img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 35px;
}
.offer-right h3 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer-right p {
  color: #07021199;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}
/* offer area css ends */

/* Portfolio area css starts */
.portfolio-area {
  margin-bottom: 120px;
}
.portfolio-text h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio-text h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.portfolio-text p {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.portfolio-images img {
  transition: 0.4s;
}
.portfolio-images img:hover {
  /* padding: 20px 10px; */
  opacity: 0.7;
}
.first-images {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}
.last-images {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
/* Portfolio area css ends */

/* Subscribe area css starts */
.subscribe-area {
  margin-bottom: 120px;
  border-radius: 16px;
  background: #ff00000d;
}
.subscribe-content {
  text-align: center;
  padding: 80px 212px;
}
.subscribe-content img {
  margin-bottom: 40px;
}
.subscribe-content h3 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.subscribe-content p {
  color: #07021199;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.subscribe-content input[type="text"] {
  color: #0702114d;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 20px 270px 20px 30px;
  outline: none;
  border: 0;
  border-radius: 25px 0 0 25px;
}
.subscribe-content input[type="button"] {
  padding: 20px 56px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #f00;
  border: 0;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}
/* subscribe area css ends */

/* Footer area css starts */
.footer-content {
  padding: 120px 140px;
  background-color: #070211;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  font-family: "Inter";
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content li {
  list-style: none;
}
.footer-phone {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-website {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-icons {
  text-align: center;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
hr {
  border: 1px solid #ffffff26;
  margin: 50px 0;
}
.footer-bottom-right button {
  padding: 7px 14px;
  color: #ffffff;
  background-color: #f00;
  border-radius: 16px;
  border: 0;
  cursor: pointer;
}
/* Footer area css Ends */
