/* Basic Css */
* {
  margin: 0;
  padding: 0;
}
main {
  margin: 0 140px;
}

/* Banner area Css */
.banner-area {
  margin-bottom: 120px;
  margin-top: 50px;
}
.banner-content {
  background-image: url("./resources/Banner\ Image.png");
  min-height: 600px;
  min-width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  color: #ffff;
  height: 246px;
  width: 632px;
  text-align: center;
}
.banner-text p {
  font-size: 32px;
  font-weight: 400;
}
.banner-text h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* Banner Area CSS Ends */

/* Category Area Css Starts */
.category-area {
  margin-bottom: 120px;
}
.category-content {
  text-align: center;
}
.category-content h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.category-content p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.category-content h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 55px;
  text-transform: uppercase;
}
.category-content img {
  width: auto;
}
/* Category area Css Ends */

/* Party area css starts */
.party-content {
  background-image: url("./resources/Vectorrr.png");
  min-height: 600px;
  min-width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party-content h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.party-content p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.party-content button {
  padding: 5px 10px;
  color: #ffffff;
  background-color: #f00;
  border: 0;
}
/* Party Area css Ends */
